@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-text-label: #333333;
    --color-text-base: #666666;
    --color-text-nav: #cccccc;
    --color-text-nav-highlight: #ffffff;
    --color-heading: brown;

    --color-title: #eee;
    --color-bg-subtle: #f9f9f9;
    --color-bg-subtle2: #eeeeee;
    --color-bg-tooltip: #cccccc --color-border: #cccccc;

    --max-content-width: 1200px;
}

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: var(--color-text-base);
    margin: 0;
}

nav {
    color: var(--color-text-nav);
    margin-left: auto;
    margin-right: auto;
    max-width: var(max-content-width);
}

nav select {
    text-align: right;
    float: right;
}

#menu {
    text-align: left;
    float: left;
    display: inline-block;
}
#menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    margin: 0 1em;
}
#menu li a {
    color: var(--color-text-nav);
    text-decoration: none;
    &:hover {
        color: var(--color-text-nav-highlight);
    }
    &:active {
        color: var(--color-text-nav-highlight);
    }
}

header {
    grid-area: header;
    width: 100%;
    background-image: url("./banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2ex 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "introduction"
        "controls"
        "graph"
        "data-section"
        "program-log";

    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 700px) {
    main {
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "introduction introduction"
            "controls graph"
            "data-section data-section"
            "program-log program-log";
    }
}

#banner {
    text-align: center;
}

#introduction {
    grid-area: introduction;
    justify-self: start;
    display: none;
    max-width: var(--max-content-width);
}

#controls {
    grid-area: controls;
    align-self: start;
    min-width: 300px;
    display: none;
}

#graph {
    grid-area: graph;
    align-self: end;

    min-width: 700px;
    overflow-x: auto;
    display: none;
}

#data-section {
    grid-area: data-section;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
}

#program-log {
    grid-area: program-log;
    justify-self: start;
    display: none;
}

h1 {
    color: var(--color-title);
    font-size: 4rem;
    font-weight: lighter;
}

h2 {
    margin-bottom: 0;
    padding: 0.5rem;
    color: brown;
    font-size: x-large;
    font-weight: normal;
}

details summary {
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: brown;
    font-size: x-large;
}

label {
    display: inline-block;
    margin: 0.5em 0.5ex;
    font-size: smaller;
    color: #333;
}

/* Hide the stepper controls in the number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Using `textfield` does not work in Safari, but is the solution for Firefox */
input[type="number"] {
    appearance: textfield;
    text-align: right;
    margin: 0.2rem;
    border-radius: 10px;
    padding: 3px 5px;
    border: 2px solid #cccccc;
    width: 50px;
}
input[type="range"] {
    cursor: pointer;
}

#program-log output {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    border: 1px solid #cccccc;
    padding: 8px;
    overflow-y: auto;
    line-height: 1.2rem;
    min-height: calc(1.2rem * 20); /* approx. 20 lines visible */
    max-height: 400px;
    background: var(--color-bg-subtle);
}

#data-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}
#data-table,
th,
td {
    border-left: none;
    border-right: none;
    padding: 4px 8px;
    text-align: left;
    font-family: monospace;
}
#data-table thead tr {
    background-color: var(--color-bg-subtle2);
}
/* Add a little bit of spacing between the header and the body */
#data-table tbody:before {
    content: "@";
    display: block;
    visibility: hidden;
    line-height: 10px;
}
#data-table tbody td {
    border-bottom: 1px solid #d6d6d6;
}
#data-table tbody tr:nth-child(odd) {
    background-color: var(--color-bg-subtle);
}
#data-table tbody tr:nth-child(even) {
    background-color: var(--color-bg-subtle2);
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
}
.tooltiptext {
    visibility: hidden; /* Hidden by default */
    width: 260px;
    background-color: var(--color-bg-tooltip);
    color: var(--color-text-label);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}
/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#start-button {
    font-size: 1rem;
    font-weight: bold;
}

#status {
    margin-left: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #555555;
}

button {
    display: block;
    padding: 0.3rem 1.3rem;
    margin: 0.2rem;
    border-radius: 1rem;
    border: 3px solid #0077ff;
    background: #eeeeee;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;

    &:hover:not(:disabled) {
        cursor: pointer;
        background: #cccccc;
    }
    &:active:not(:disabled) {
        box-shadow: none;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.control {
    background-color: var(--color-bg-subtle2);
    margin: 1em 3ex 1em 1ex;
    padding: 0.2em 0.5ex;
}

/* Hide the (drop-down) arrows and style the <select> element as
   minimally as possible */
#lang-switch {
    /* <select> doesn't automatically inherit font-size, since the element
   is usually taken from the OS */
    display: inline-block;
    font-size: large;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    padding: 0;
    color: var(--color-text-nav);

    &::-ms-expand {
        /* IE and Edge */
        display: none;
    }
}
